body {
    background-color: rgb(230, 240, 176);
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: clamp(12px, 3vw, 18px);
} 
h1 {
    color: black;
    text-align: center;
}
h2 {
    color: black;
    text-align: center;
}
h3 {
    color: black;
    text-align: center;
}
h4 {
    color: black;
    text-align: center;
    text-emphasis: bold;
    position: relative;

    }
p {
    color: black;
    text-align: center;
}
ul {
    line-height: 1.7em;
    text-align: center;
    padding-left: 0;
}
ul li {
    list-style-position: inside;
}
.row {
    display: flex;
}
.column {
    flex: 50%;
}
header {
    text-align: center;
}
section {
    text-align: left;
}
.experience {
    width: "100%"
}